@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dotnet9 Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="~/Home/Index" class="brand-link">
            <img src="~/Admin/dist/img/AdminLTELogo.png"
                 alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Dotnet9</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/Admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Dashboard</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="/Blog/AdminBlogList" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Blog
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/User/AdminUserList" class="nav-link">
                            <i class="nav-icon fas fa-people-arrows"></i>
                            <p>
                                User
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-comment"></i>
                            <p>
                                Comment
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Comment/AdminCommentList" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>All Comments</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Comment/AdminCommentList?status=@ModelStatus.Check" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Checked Comments</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/Category/AdminCategoryList" class="nav-link">
                            <i class="nav-icon fas fa-box"></i>
                            <p>
                                Category
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Tag/Index" class="nav-link">
                            <i class="nav-icon fas fa-box"></i>
                            <p>
                                Tag
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/About/Update" class="nav-link">
                            <i class="nav-icon fas fa-address-book"></i>
                            <p>
                                About
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contact/SendBox" class="nav-link">
                            <i class="nav-icon fas fa-phone"></i>
                            <p>
                                Send Box
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>
                                Count
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Chart/CategoryCount" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Category Pie Chart</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Chart/BlogCount" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Blog Pie Chart</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Chart/BlogCountLine" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Blog Line Chart</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Chart/BlogCountColumn" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Blog Column Chart</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-link"></i>
                            <p>
                                Link
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Link/AdminLinkList" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Link/Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                @RenderBody()
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/Admin/plugins/jquery/jquery.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Admin/plugins/bootstrap/js/bootstrap.js"></script>
<!-- AdminLTE App -->
<script src="~/Admin/dist/js/adminlte.js"></script>
<script src="~/lib/layer/layer.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>