@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lequ.CO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/Front/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Front/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Front/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Front/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Front/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Front/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Front/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Front/css/aos.css">

    <link rel="stylesheet" href="~/Front/css/style.css">
</head>
<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar" role="banner">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col-12 search-form-wrap js-search-form">
                        <form method="get" action="#">
                            <input type="text" id="s" class="form-control" placeholder="Search...">
                            <button class="search-btn" type="submit">
                                <span class="icon-search"></span>
                            </button>
                        </form>
                    </div>

                    <div class="col-4 site-logo">
                        <a href="/Blog/Index/" class="text-black h2 mb-0">Lequ.CO</a>
                    </div>

                    <div class="col-8 text-right">
                        <nav class="site-navigation" role="navigation">
                            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                                <li>
                                    <a href="/Blog/Index/">Home</a>
                                </li>
                                <li>
                                    <a href="/Blog/ListByCategory?categoryID=1">C#</a>
                                </li>
                                <li>
                                    <a href="/Blog/ListByCategory?categoryID=2">C++</a>
                                </li>
                                <li>
                                    <a href="/Contact/SendMessage/">Contact</a>
                                </li>
                                <li>
                                    <a href="/About/Index/">About</a>
                                </li>
                                <li>
                                    <a href="/Login/UserLogin/">Login</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a id="dropdownSubMenu1" href="/Views/Login/UserLogin.cshtml" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Dashboard</a>
                                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                        <li><a href="#" class="dropdown-item">Post</a></li>
                                        <li><a href="#" class="dropdown-item">Link</a></li>
                                        <li><a href="#" class="dropdown-item">KuaiXun</a></li>
                                        <li><a href="#" class="dropdown-item">Exit</a></li>
                                    </ul>
                                </li>
                                <li>
                                    @await Html.PartialAsync("~/Views/Home/SetLanguage.cshtml")
                                </li>
                                <li class="d-none d-lg-inline-block">
                                    <a href="#" class="js-search-toggle">
                                        <span class="icon-search"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none">
                            <span class="icon-menu h3"></span>
                        </a>
                    </div>
                </div>

            </div>
        </header>

        @RenderBody()
    </div>

    <script src="~/Front/js/jquery-3.3.1.min.js"></script>
    <script src="~/Front/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Front/js/jquery-ui.js"></script>
    <script src="~/Front/js/popper.min.js"></script>
    <script src="~/Front/js/bootstrap.min.js"></script>
    <script src="~/Front/js/owl.carousel.min.js"></script>
    <script src="~/Front/js/jquery.stellar.min.js"></script>
    <script src="~/Front/js/jquery.countdown.min.js"></script>
    <script src="~/Front/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Front/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Front/js/aos.js"></script>

    <script src="~/Front/js/main.js"></script>


</body>
</html>