@model User
<div class="sidebar-box">
    <div class="bio text-center">
        <img src="@Model?.Image" alt="Image Placeholder" class="img-fluid mb-5">
        <div class="bio-body">
            <h2>@Model?.Name</h2>
            <p class="mb-4">@Model?.About</p>
            <p>
                <a href="#" class="btn btn-primary btn-sm rounded px-4 py-2">Read my bio</a>
            </p>
        </div>
    </div>
</div>