
<div class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-5 text-center">
                <h2>Meet The Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus commodi blanditiis, soluta magnam atque laborum ex qui recusandae</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 text-center">
                <img src="~/Front/images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="mb-3 h5">Kate Hampton</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                <p class="mt-5">
                    <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 text-center">
                <img src="~/Front/images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="mb-3 h5">Richard Cook</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                <p class="mt-5">
                    <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 text-center">
                <img src="~/Front/images/person_3.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="mb-3 h5">Kevin Peters</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                <p class="mt-5">
                    <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>