@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

@await Component.InvokeAsync("Feature")

@await Component.InvokeAsync("FeaturedAblumList")

<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-9">

                @await Html.PartialAsync("~/Views/Blog/ListDetails.cshtml")

            </div>
            <div class="col-md-12 col-lg-3">

                @await Html.PartialAsync("~/Views/About/WeChatOfficialAccount.cshtml")

                @await Html.PartialAsync("~/Views/About/WeChatMiniProgram.cshtml")

            </div>
        </div>
    </div>
</section>