@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-8 main-content">
                @await Component.InvokeAsync("ReadAll", new { id = @ViewBag.id })
                
                @await Component.InvokeAsync("CommentList", new { blogID = @ViewBag.id })
            </div>
            <div class="col-md-12 col-lg-4 sidebar">
                @await Component.InvokeAsync("UserAbout", new { blogID = @ViewBag.id })

                @await Component.InvokeAsync("UserPopularBlogList", new { id = @ViewBag.userID })

                @await Html.PartialAsync("~/Views/Category/BlogDetailsCategoryList.cshtml")

                @await Html.PartialAsync("~/Views/Tag/BlogDetailsTagList.cshtml")
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("~/Views/SubscribeEmail/AddEmail.cshtml")

@await Html.PartialAsync("~/Views/Blog/ListByUser.cshtml")