@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link rel="stylesheet" href="~/Admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Admin/assets/css/style.css">
    <link rel="shortcut icon" href="~/Admin/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("~/Views/Admin/NavbarPartial.cshtml")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("~/Views/Admin/SidebarPartial.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @await Html.PartialAsync("~/Views/Admin/FooterPartial.cshtml")
            </div>
        </div>
    </div>
    <script src="~/Admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Admin/assets/js/off-canvas.js"></script>
    <script src="~/Admin/assets/js/hoverable-collapse.js"></script>
    <script src="~/Admin/assets/js/misc.js"></script>
</body>
</html>