<footer>
        <!-- footer -->
        <div class="footer-cpy text-center">
            
                <div class="copyrighttop">
                    <ul>
                        <li class="text-white">Friend link：</li>
                        <li class="mx-3 text-a4">
                            <a href="https://dotnet9.com">
                                <span>Dotnet9</span>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="copyrighttop">
                    <ul>
                        <li class="text-white">Technology Exchange：</li>
                        <li class="mx-3">
                            <a class="facebook" href="https://github.com/dotnet9/lequ">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </a>
                        </li>
                    </ul>

                </div>
                <p>
                    © 2021-@DateTime.Now.Year Lequ.CO. This site is powered by .NET6 energy
                </p>
        </div>
</footer>