
@using Lequ.Blog.Model.ViewModels
@model IEnumerable<BlogDto>

<div class="tech-btm">
	<h4>Top stories of the week</h4>

	@foreach(var item in Model)
	{
		<div class="blog-grids row mb-3">
			<div class="col-md-5 blog-grid-left">
				<a href="/Blog/ReadAll/@item.ID">
					<img src="@item.ThumbnailImage" class="img-fluid" alt="">
				</a>
			</div>
			<div class="col-md-7 blog-grid-right">

				<h5>
					<a href="/Blog/ReadAll/@item.ID">@item.Title</a>
				</h5>
				<div class="sub-meta">
					<span>
						<i class="far fa-clock"></i>@(((DateTime)(item.CreateDate??DateTime.Now)).ToString("yyyy-MM-dd HH:mm:ss"))</span>
				</div>
			</div>

		</div>
	}
</div>