@using Lequ.Blog.Model.ViewModels
@model IEnumerable<CommentDto>

<div class="comment-top">
	<h4>Comments</h4>
	@foreach(var item in Model)
	{
		<div class="media">
			<img src="~/CoreBlogTema/images/t1.jpg" alt="" class="img-fluid" />
			<div class="media-body">
				<h5 class="mt-0">@item.CreateBy</h5>
				<p>@item.Content</p>

				<div class="media mt-3">
					<a class="d-flex pr-3" href="#">
						<img src="~/CoreBlogTema/images/t2.jpg" alt="" class="img-fluid" />
					</a>
					<div class="media-body">
						<h5 class="mt-0">Richard Spark</h5>
						<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
							Cras a ornare elit.</p>
					</div>
				</div>
			</div>
		</div>
	}
</div>