@using Lequ.Blog.Model.Models
@model IEnumerable<Category>

<div class="tech-btm">
    <h4>Categories</h4>
    <ul class="list-group single">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @item.Name
                    <span class="badge badge-primary badge-pill">@item.Blogs?.Count</span>
                </li>
            }
        }
    </ul>
</div>