
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Folders</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item active">
                <a href="/Contact/SendBox/" class="nav-link">
                    <i class="fas fa-inbox"></i> Inbox
                    <span class="badge bg-primary float-right">12</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Contact/Outbox/" class="nav-link">
                    <i class="far fa-envelope"></i> Sent
                    <span class="badge bg-success float-right">2</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-file-alt"></i> Drafts
                    <span class="badge bg-danger float-right">0</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-filter"></i> Junk
                    <span class="badge bg-warning float-right">0</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-trash-alt"></i> Trash
                    <span class="badge bg-gradient-orange float-right">12</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Labels</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-circle text-danger"></i> Important</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-circle text-warning"></i> Promotions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-circle text-primary"></i> Social</a>
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
</div>