
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>test view</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ad1</td>
        <td>Henry</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ad1</td>
        <td>Henry</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ad1</td>
        <td>Henry</td>
    </tr>
</table>