@using Lequ.Blog.Model.ViewModels
@model List<BlogDto>
@{
    ViewData["Title"] = "ListByUser";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ListByUser</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>CreateDate</th>
        <th>Categories</th>
        <th>Status</th>
        <th>Control</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Title</td>
                <td>@(((DateTime)(item.CreateDate??DateTime.Now)).ToString("yyyy-MM-dd HH:mm:ss"))</td>
                <td>
                    @if (item.Categories != null)
                    {
                        @foreach (var category in item.Categories)
                        {
                            <a href="#" class="btn btn-info"><i class="fas fa-eye"></i> @category?.Name</a>
                        }
                    }
                </td>
                <td>@item.Status</td>
                <td>
                    <a href="/Blog/Remove/@item.ID" class="btn btn-danger">Remove</a>
                    <a href="/Blog/Edit/@item.ID" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }

    }
</table>
<a href="/Blog/Add/" class="btn btn-primary">Add</a>