@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="entry2">
    <p class="footer-heading mb-4 text-center">@Localizer["WeChatMiniProgram"]</p>
    <img src="~/wechatcode.jpg" alt="@Localizer["WeChatMiniProgram"]" class="img-fluid rounded">
</div>