@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="entry2">
    <p class="footer-heading mb-4 text-center">@Localizer["WeChatOfficialAccount"]</p>
    <img src="~/wechatpublic.jpg" alt="@Localizer["WeChatOfficialAccount"]" class="img-fluid rounded">
</div>