<div class="tech-btm">
	<p>Pellentesque dui, non felis. Maecenas male </p>
	<form action="/NewsLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Email">
		<input type="submit" value="Subscribe">
	</form>

</div>