@model List<Album>

<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-3">
                    <div class="card entry2">
                        <a href="/Blog/ListByAlbum?albumID=@item?.ID" target='_blank'>
                            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="@item?.Cover" alt="Image" class="img-fluid rounded">
                                        <div class="carousel-caption">
                                            @item?.Name
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>