@model IEnumerable<Lequ.Model.Models.BlogAlbum>
<div class="sidebar-box">
    <h3 class="heading">Albums</h3>
    <ul class="tags">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <li><a href="/Blog/ListByAlbum?albumID=@item.Album?.ID">@item.Album?.Name</a></li>
            }
        }
    </ul>
</div>