@model Lequ.ViewModels.DetailsDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-8 main-content">
                @await Component.InvokeAsync("ReadAll", new { id = Model?.ID })

                @await Component.InvokeAsync("CommentList", new { blogID = Model?.ID })
            </div>
            <div class="col-md-12 col-lg-4 sidebar">
                @await Component.InvokeAsync("UserAbout", new { blogID = Model?.ID })

                @await Component.InvokeAsync("UserPopularBlogList", new { id = Model?.UserID })

                @await Component.InvokeAsync("BlogDetailsAlbumList", new { blogID = Model?.ID })

                @await Component.InvokeAsync("BlogDetailsCategoryList", new { blogID = Model?.ID })

                @await Component.InvokeAsync("BlogDetailsTagList", new { blogID = Model?.ID })
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Blog/ListByUser.cshtml")