@model DetailsDto
@{
    ViewData["Title"] = Model?.Title;
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

@section Headers {
    <link rel="stylesheet" href="~/css/markdown.css">
}

<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-9">
                @await Component.InvokeAsync("ReadAll", new { id = Model?.ID })

                @await Component.InvokeAsync("CommentList", new { blogID = Model?.ID })
            </div>
            <div class="col-md-12 col-lg-3">

                @await Html.PartialAsync("~/Views/About/WeChatOfficialAccount.cshtml")

                @await Component.InvokeAsync("UserPopularBlogList", new { id = Model?.UserID })

                @await Component.InvokeAsync("BlogDetailsAlbumList", new { blogID = Model?.ID })

                @await Component.InvokeAsync("BlogDetailsCategoryList", new { blogID = Model?.ID })

                @await Component.InvokeAsync("BlogDetailsTagList", new { blogID = Model?.ID })
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("ListByUser", new { blogID = Model?.ID })


@section Scripts {
    <!-- Syntax Highlighting code -->
    <script src="~/lib/highlightjs/highlight.pack.js"></script>
    <link href="~/lib/highlightjs/styles/vs2015.css" rel="stylesheet"/>
    <script src="~/lib/highlightjs-badge.min.js"></script>
    <script src="~/js/markdown.js"></script>
}