@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<h1>Welcome @Localizer["Title"] test @ViewData["Test"]</h1>

@await Html.PartialAsync("~/Views/Blog/Featured.cshtml")

@await Html.PartialAsync("~/Views/Blog/ListDetails.cshtml")

@await Html.PartialAsync("~/Views/Blog/OtherFeatured.cshtml")

@await Html.PartialAsync("~/Views/SubscribeEmail/AddEmail.cshtml")