@model LoginDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Lequ.CO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/UserLogin/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/UserLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/UserLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form" method="post">
                <span class="login100-form-title p-b-70">
                    Welcome Lequ.CO
                </span>
                <span class="login100-form-avatar">
                    <img src="~/UserLogin/images/avatar-01.jpg" alt="AVATAR">
                </span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
                    <input class="input100" type="text" name="Account">
                    <span class="focus-input100" data-placeholder="Account"></span>
                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input class="input100" type="password" name="Password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <input id="errorInfo" type="hidden" value="@ViewBag.ErrorInfo"/>
                <div class="container-login100-form-btn">
                    <button id="btnLogin" class="login100-form-btn">
                        Log in
                    </button>
                </div>

                <ul class="login-more p-t-190">
                    <li class="m-b-8">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            Username / Password?
                        </a>
                    </li>

                    <li>
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a href="#" class="txt2">
                            Sign up
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="~/UserLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/UserLogin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/UserLogin/vendor/bootstrap/js/popper.js"></script>
<script src="~/UserLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/UserLogin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/UserLogin/vendor/daterangepicker/moment.min.js"></script>
<script src="~/UserLogin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/UserLogin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/UserLogin/js/main.js"></script>
<script src="~/lib/layer/layer.js"></script>
<script>
    $(function() {
        if ($("errorInfo").val()) {
            layer.tips($("#errorInfo").val(), "#btnLogin");
        }
    })
</script>
</body>
</html>