@using Lequ.Models
@using Westwind.AspNetCore.Markdown
@model Blog

@section Scripts {
    <script src="~/highlight/highlight.js"></script>
    <link href="~/highlight/styles/vs2015.css" rel="stylesheet" />
    <script>
        setTimeout(function () {
            var pres = document.querySelectorAll("pre>code");
            for (var i = 0; i < pres.length; i++) {
                hljs.highlightBlock(pres[i]);
            }
        });

    </script>
}

<div class="post-content-body">
    <h1>@Model?.Title</h1>
    <p>
        <span>@Model?.CreateUser?.Name</span>
        <span>&nbsp;-&nbsp; @Model?.CreateDate</span>
        @if (Model?.BlogCategories != null)
        {
            @foreach (var category in Model.BlogCategories)
            {
                <span>
                    <a href="#">
                        <i class="fas fa-eye"></i> @category?.Category?.Name
                    </a>
                </span>
            }
        }
    </p>
    <p>@Markdown.ParseHtmlString(Model?.Content)</p>
</div>