
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer class="footer">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© 2021-@DateTime.Now.Year <a href="https://lequ.co">Lequ.CO</a>. This site is powered by .NET6 energy</span>
</footer>