@model IEnumerable<Lequ.Model.Models.BlogCategory>
<div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="tags">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <li><a href="#">@item.Category?.Name</a></li>
            }
        }
    </ul>
</div>