@inject IViewLocalizer _localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Category>
<div class="sidebar-box">
    <h3 class="heading">@_localizer["Header"]</h3>
    <ul class="tags">

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <li>
                    <a href="/Blog/ListByCategory?categoryID=@item?.ID" target='_blank'>
                        @item?.Name<span>(@item?.BlogCategories.Count)</span>
                    </a>
                </li>
            }
        }
    </ul>
</div>