@using Lequ.Blog.Model.Models
@model IEnumerable<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">


<body>

    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">About</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="~/Front/images/b5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <h3>
                            Amet consectetur adipisicing
                        </h3>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <p>@item.Details1</p>
                            }
                        }
                        <a href="single.html" class="btn btn-primary read-m">Read More</a>
                    </div>
                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/Front/images/banner1.jpg" class="img-fluid" alt="">
                        </div>

                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                        @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")

                        <div class="tech-btm">
                            <h4>Recent Posts</h4>

                            @await Component.InvokeAsync("UserLatestBlog")

                        </div>
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->
</body>
</html>