@model IEnumerable<Lequ.Models.BlogTag>
<div class="sidebar-box">
    <h3 class="heading">Tags</h3>
    <ul class="tags">

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <li>
                    <a href="/Blog/ListByTag?tagID=@item.Tag?.ID">@item.Tag?.Name</a>
                </li>
            }
        }
    </ul>
</div>